/* ---------------------- header ---------------------- */
header {
	height: 100px;
	background: #fff;
	border-bottom: 1px solid #D7D8D9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	font-size: 0;

	&.transparent {
		background: transparent;
		border: none;
		position: absolute;

		.cont-logo {
			filter: brightness(0) invert(1);
		}
		.buttons {
			display: flex;
		}
		.part-controls {
			display: none;
		}
	}
	.header-inner {
		padding: 0 20px;
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 2;
	}
	
	.buttons {
		display: none;
		.button {
			margin: 0 10px;
		}
	}

	.part-controls {
		height: 100%;
		display: flex;
		align-items: center;

		.avatar {
			display: inline-block;
			cursor: pointer;
			height: 57px;
			width: 57px;
			border-radius: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			font-size: 0;
			border: 4px solid #fff;
			filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2));
			margin-right: 15px;
			img {
				height: 100%;
			}
		}

		.icons {
			display: flex;
			margin-left: 30px;
			.item {
				padding: 7px 15px;
				position: relative;
				border-left: 1px solid #D7D8D9;
				.icon {
					font-size: 18px;
					transition: 0.5s;
					color: #262626;
					cursor: pointer;
					.counter {
						position: absolute;
						top: 0px;
    					right: 7px;
						width: 14px;
						height: 14px;
						border-radius: 100%;
						color: #fff;
						background: #FD367E;
						@include f-r;
						font-size: 11px;
						line-height: 15px;
						text-align: center;
					}
					&:hover {
						color: #FD367E;
					}
				}

				.window {
					
					position: absolute;
					top: 120%;
					left: -6px;
					background: #fff;
					width: 300px;
					border-radius: 10px;
					filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2));

					transform-origin: 50% 0;
				    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
				    z-index: 9;
				    opacity: 0;
				    pointer-events: none;
				    transform: scale(0.75) translateY(-21px);
				    &.open {
						opacity: 1;
			    		pointer-events: auto;
			   		 	transform: scale(1) translateY(0);
					}
					&:after {
					    content: '';
					    position: absolute;
					    background: #fff;
					    width: 16px;
					    height: 16px;
					    transform: rotate(45deg);
					    bottom: 100%;
					    left: 30px;
					    margin: 0 0 -8px -8px;
					    z-index: 1;
					}
					.content {
						padding: 10px;
						a {
							display: block;
							@include f-r;
							font-size: 14px;
							color: #979797;
							margin-top: 10px;
							&:first-child {
								margin-top: 0;
							}
						}
					} 
				}
			}
		}
	}

	.dropdown {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		max-width: 360px;
		display: none;
		z-index: 1;
		filter: drop-shadow(0px 6px 10px rgba(0,0,0,0.1));
		.part-top {
			background: radial-gradient(circle at 30%, #6C5899, #3E4A77);
			padding: 10px;
			padding-top: 50px;
			padding-right: 40px;
			
			color: #fff;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			.line-1 {
				@include f-l;
				font-size: 16px;
			}
			.line-2 {
				@include f-m;
				font-size: 22px;
			}

			.logout {
				@include f-l;
				font-size: 16px;
				color: #fff;
				float: left;
			}
		}

		.part-content {
			background: #fff;
			padding: 40px;
			.menu-buttons {
				color: #2D2D2D;
				.menu-button {
					@include f-l;
					font-size: 16px;
					background: #F4F5F7;
					padding: 15px;
					display: block;
					margin-top: 5px;
					position: relative;
					border: 4px solid #F4F5F7;
					transition: 0.5s;
					&:first-child {
						margin-top: 0;
					}

					i {
						color: #3E4377;
						width: 35px;
						text-align: center;
						margin-right: -10px;
					}
					span, i {
						display: inline-block;
						vertical-align: middle;
						position: relative;
						z-index: 2;
						transition: 0.5s;
					}

					&:before {
						content: "";
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 1;
						background: radial-gradient(circle at 30%, #FFB23F, #FF9900);
						opacity: 0;
						transition: 0.5s;
					}

					&:hover {
						border: 4px solid #fff;
						filter: drop-shadow(0px 0px 10px rgba(217,129,9,0.25));
						&:before {
							opacity: 1;
						}

						span, i {
							color: #fff;
						}
					}
				}
			}
		}
		
	}

	@media only screen and (max-width : $tw) {
		height: 80px;
	}

	@media only screen and (max-width : $mw) {
		&, &.transparent {
			height: 50px;
			background: #fff;
			border-bottom: 1px solid #D7D8D9;
			position: fixed;
			.header-inner {
				padding: 0 10px;
			}
			.cont-logo {
				filter: none;
			}
			.toggle-button {
				display: block;
			}
			.buttons {
				display: none;
			}

			.cont-logo {
				img {
					height: 32px;
				}
			}
			.part-controls {
				display: flex;
				.avatar {
					height: 43px;
					width: 43px;
					border: 2px solid #fff;
					margin-right: 10px;
				}

				.icons {
					margin-left: 8px;
					.item {
						padding: 4px 10px;
						.icon {
							font-size: 16px;
						}
						.window {
							top: 145%;
							left: -80px;
							&:after {
								left: 97px;
							}
						}
					}
				}
			}

			.dropdown {
				max-width: 100%;
				.part-top {
					padding-top: 30px;
					padding-right: 20px;
				}
				.part-content {
					padding: 20px;
				}
			}

		}
	}
}
/* --------------------- /header ---------------------- */

/* ---------------------- Section top-index ---------------------- */
section.top-index {
	height: 937px;
	position: relative;
	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		&:after {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0.57
		}
	}

	.owl {
		position: absolute;
		bottom: 0;
		z-index: 2;
		font-size: 0;
		right: 5%;
		max-width: 25%;
		img {
			opacity: 0;
			animation: from-bottom 2s forwards;
			animation-delay: 1s;
			max-width: 100%;
		}
	}
	
	.section-inner {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 150px;
		text-align: center;
		.title {
			
			@include f-b;
			font-size: 100px;
			color: #fff;
		}
	}



	.lessons-selector {
		display: inline-block;
		width: 100%;
		max-width: 460px;

		.tabs {
			margin-top: 30px;
			background: #F4F5F7;
			display: flex;
			
			border-radius: 200px;
			overflow: hidden;
			filter: drop-shadow(0px 6px 20px rgba(0,0,0,0.58));
			border: 2px solid #FFFFFF;
			.tab {
				@include f-l;
				font-size: 16px;
				color: #2D2D2D;
				width: 50%;
				padding: 20px;
				
				cursor: pointer;
				transition: 0.5s;
				&.loading {
					&:after {
						left: 20px;
					}
				}
				&:first-child {
					margin-left: -1px;
					border-left: 2px solid #FFFFFF;
				}
				&:last-child {
					border-right: 2px solid #FFFFFF;
				}

				&.active, &:hover {
					@include f-m;
					color: #fff;
					background: #3E4377;
					filter: drop-shadow(0px 6px 20px rgba(0,0,0,0.58));
				}
			}
		}

		.container-main {
			background: #F4F5F7;
			border-radius: 35px;
			margin-top: 20px;
			
			.heading {
				position: relative;
				input {
					@include f-l;
					font-size: 16px;
					color: #2D2D2D;
					@include placeholder-color(#2D2D2D);
					width: 100%;
					border-radius: 35px;
					border: none;
					outline: none;
					background: #fff;
					padding: 20px;
				}
				.search-button {
					background: #FD367E;
					border-radius: 100%;	
					border: 2px solid #fff;
					width: 47px;
					height: 47px;
					position: absolute;
					left: 5px;
					top: 5px;
					filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.58));
					cursor: pointer;
					transition: 0.5s;
					&:hover {
						background: #FF9900;
					}
					i {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						color: #fff;

					}
				}
			}

			.container-sections {
				text-align: right;
				padding: 0 20px;
				padding-top: 5px;

				padding-bottom: 20px;
				padding-top: 20px;
				padding-right: 15px;
				height: 290px;
				.wrapper {
					height: 250px;
					padding-right: 20px;
					overflow-y: scroll;
					direction: ltr;
				}

				::-webkit-scrollbar {
					width: 8px;
				}

				::-webkit-scrollbar-track {
					border-radius: 10px;
					background: #DEDEDE;
				}

				::-webkit-scrollbar-thumb {
					background: #3E4377;
					border-radius: 10px;
				}
				.section {
					padding-bottom: 25px;
					border-bottom: 1px solid #DEDEDE;
					margin-top: 20px;
					&:first-child {
						margin-top: 10px;
					}
					&:last-child {
						border-bottom: none;
					}
					.title {
						@include f-m;
						font-size: 16px;
						color: #3E4377;
					}

					.list {
						display: flex;
						flex-wrap: wrap;
						margin-top: 5px;
						.item {
							width: 33.333%;
							padding-left: 15px;
							margin-top: 15px;
							@include f-l;
							font-size: 15px;
							color: #2D2D2D;
							transition: 0.25s;
							cursor: pointer;
							&:hover {
								color: #FD367E;
							}
						}
					}
				}
			}
		}
	}
	
	@media only screen and (max-width : $lw) {
		height: 768px;
		.section-inner {
			.title {
				font-size: 90px;
			}
		}
		.owl {
			right: 2%;
		}
		.lessons-selector {
			.container-main {
				.container-sections {
					.wrapper {
						height: 150px;
					}
				}
			}
		}
	}

	@media only screen and (max-width : $mw) {
		height: 640px;
		.lessons-selector {
			.tabs {
				.tab {
					padding: 15px;
				}
			}
		}
		.section-inner {
			bottom: auto;
			top: 70px;
			.title {
				font-size: 50px;
				line-height: 50px;
			}
		}
	}
}
/* --------------------- /Section top-index ---------------------- */

/* ---------------------- Section categories ---------------------- */
section.categories {
	background: #fff;
	.section-inner {
		max-width: 1600px;
	}
	.sliders {
		margin-top: 50px;
		padding: 0 20px;	
		.slider {
			&.slider-other {
				.item {
					.wrapper {
						&:before {
							background: radial-gradient(circle at 200%, #FFB23F, #FF9900);
						}
					}
				}
			}
			.item {
				padding: 20px;
				cursor: pointer;
				.wrapper {
					position: relative;
					height: 220px;
					background: #fff;
					border-radius: 20px;
					filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2));
					border: 4px solid #fff;
					overflow: hidden;
					
					&:before {
						content: "";
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: radial-gradient(circle at 200%, #FF5894, #FD367E);
						transition: 0.5s;
						opacity: 0;
					}
				}
				.icon {
					position: absolute;
					left: 20px;
					top: 20px;
					transition: 0.5s;
				}
				.inner {
					position: absolute;
					padding: 20px;
					bottom: 0;
					left: 0;
					right: 0;
				}

				.part-main {
					
					.title {
						transition: 0.5s;
						@include f-b;
						font-size: 29px;
						color: #FD367E;
					}
					.desc {
						transition: 0.5s;
						@include f-l;
						font-size: 16px;
						color: #595959;
						margin-top: 5px;
					}
				}
				.part-bottom {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-top: 0px;
					height: 0;
					overflow: hidden;
					transition: 0.5s;
					.btn {
						@include f-m;
						font-size: 14px;
						color: #fff;
					}
					
				}

				&:hover {
					.wrapper {
						&:before {
							opacity: 1;
						}
					}
					.icon {
						filter: brightness(0) invert(1);
					}
					.part-main {
						.title, .desc {
							color: #fff;
						}
					}
					.part-bottom {
						height: 20px;
						margin-top: 20px;
					}
					
				}
			}
		}
	}

	@media only screen and (max-width : $mw) {
		.sliders {
			margin-top: 25px;
			.slider {
				.item {
					padding: 10px;
					.wrapper {
						height: 170px;
						filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.2));
					}
				}
			}
		}
	}
}
/* --------------------- /Section categories ---------------------- */

/* ---------------------- Section steps ---------------------- */
section.steps {
	background: #F4F5F7;
	position: relative;
	.section-inner {
		position: relative;
		z-index: 2;
	}
	.container-decor {
		position: absolute;
		left: 0;
		width: 100%;
		top: 0;
		height: 100%;
		z-index: 1;

		.decor {
			display: inline-block;
			position: absolute;
		}
	}
	.svg-decor {
	    position: absolute;
	    left: 50%;
	    top: 0;
	    height: 3040px;
	    width: 1340px;
	    //transform: scaleY(1);
	    transform-origin: top left;
	    z-index: 1;
	    .st0, .st1 {
	    	fill:none;
	    	stroke: #E3E1E1;
	    	stroke-width: 10;
	    	stroke-linecap: round;
	    }

	    .st1 {
	    	stroke: #FD367E;
	    }

	    @media only screen and (max-width : 1000px) {
	    	display: none;
	    }
	}
	.section-inner {
		max-width: 1620px;
		text-align: center;
	}

	.button {

		margin: auto;
		margin-top: 75px;
	}
	.steps {
		text-align: right;
		.step {
			margin-top: 50px;
			&:nth-child(even) {
				.parts {
					flex-direction: row-reverse;
					.part {
						&:nth-child(2) {
							text-align: right;
						}
					}
				}
			}
			.parts {
				display: flex;
				align-items: center;
				margin: 0 -40px;
				.part {
					padding: 0 40px;
					&:nth-child(1) {
						width: 40%;
					}
					&:nth-child(2) {
						width: 60%;
						text-align: left;
					}
				}
			}

			.title {
				@include f-b;
				font-size: 29px;
				color: #3E4377;
			}

			.content {
				@include f-l;
				font-size: 16px;
				line-height: 22px;
				color: #595959;
				p {
					margin-top: 20px;
				}
			}

			img.main {
				max-width: 100%;
			}
		}
	}

	@media only screen and (max-width : $mw) {
		.steps {
			.step {
				.parts {
					display: flex;
					flex-wrap: wrap;
					margin: 0 -40px;
					.part {
						padding: 0 40px;
						&:nth-child(1) {
							width: 100%;
						}
						&:nth-child(2) {
							width: 100%;
							text-align: center;
							margin-top: 25px;
						}
					}
				}

				.title {
					font-size: 22px;
				}
				.content {
					background: #F4F5F7;
					padding-bottom: 10px;
					p {
						margin-top: 10px;
					}
				}
			}
		}
	}
}
/* --------------------- /Section steps ---------------------- */

/* ---------------------- Section.stats ---------------------- */
section.stats {
	padding: 0;
	text-align: center;
	overflow: visible;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		height: 50%;
		width: 100%;
		background-color: #fff;
		z-index: 1;
	}
	.section-inner {
		overflow: visible;
		z-index: 2;
	}

	.decor {
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 0;
	}
	.levels {
		display: flex;
		align-items: center;
		justify-content: space-around;

		max-width: 1540px;
		background: radial-gradient(circle at 30%, #6C5899, #3E4A77);
		filter: drop-shadow(0px 6px 15px rgba(12,28,204,0.25));
		border-radius: 20px;
		border: 4px solid #fff;
		padding: 50px;
		.box {
			position: relative;
			transition: 0.5s;
			cursor: pointer;
			text-align: center;

			.circle {
				position: relative;
				//width: 290px;
				margin: auto;
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					height: 94px;	
					width: 94px;
					border: 11px solid rgba(255,255,255,0.25);
					border-radius: 100px;
					z-index: 1;
				}
				canvas {
					position: relative;
					z-index: 2;
				}
				.circleChart_text {
					width: auto;
					@include f-b;
					font-size: 22px;
					line-height: 22px;
					z-index: 2;
					text-align: center;
					position: absolute;
					top: 50% !important;
					left: 50%;	
					color: #fff;
					transform: translateY(-50%) translateX(-50%);
				}
			}
			.desc {
				@include f-m;
				font-size: 22px;
				color: #fff;
				margin-top: 20px;
			}

		}
	}

	@media only screen and (max-width : $mw) {
		.levels {
			flex-wrap: wrap;
			padding: 30px;
			padding-top: 0;
			.box {
				width: 50%;
				margin-top: 35px;
				.circle {
				}

				p.desc {
					font-size: 16px;
					margin-top: 10px;
				}
			}
		}
	}

}
/* --------------------- /Section.stats ---------------------- */


/* ---------------------- Section testimonials ---------------------- */
section.testimonials {
	background: #fff;
	.sliders {
		margin-top: 50px;
		padding: 0 20px;	
		.slider {
			.owl-stage {
			    display: flex;
			    align-items: stretch;
			}
			.item {
				padding: 20px;
				cursor: pointer;
				height: 100%;
				.wrapper {
					position: relative;
					
					background: #fff;
					border-radius: 20px;
					filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2));
					overflow: hidden;

					display: flex;
					align-items: center;
					height: 100%;

					&:before {
						content: "";
						position: absolute;
						display: block;
						top: 0;
						right: 0;
						width: 85px;
						height: 100%;
						background: #FF9900;
						transition: 0.5s;
					
					}
					.part-image {

						padding: 0 30px;
						.avatar {
							width: 100px;
							height: 100px;
							border-radius: 100%;
							overflow: hidden;
							position: relative;
							img {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%,-50%);
								height: 100%;
								width: auto;
							}
						}
					}

					.part-text {
						color: #595959;
						padding-top: 30px;
						padding-left: 20px;
						.title {
							@include f-m;
							font-size: 22px;
						}
						.content {
							@include f-l;
							font-size: 16px;
							p {
								margin-top: 10px;
							}
						}

						.bottom {
							display: flex;
							justify-content: space-between;
							padding: 20px 0;
							font-size: 16px;
							border-top: 1px solid #D8D8D8;
							margin-top: 15px;

							div {
								margin: 5px;
							}
							strong {
								@include f-m;
							}
							span {
								@include f-l;
							}
						}
					}
				}

				&:hover {
					.wrapper {
						&:before {
							background: #FD367E;
						} 
					}
				}
			}

		}
	}

	@media only screen and (max-width : $mw) {
		.sliders {
			margin-top: 25px;
			.slider {
				.item {
					padding: 10px;
					.wrapper {
						filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.2));
						&:before {
							width: 35px;
						}
						.part-image {
							padding: 0 10px;
							padding-left: 15px;
							.avatar {
								width: 50px;
								height: 50px;
							}
						}	
						.part-text {
							.bottom {
								padding: 10px 0;
								flex-direction: column;
							}
						}
					}
				}
			}
		}
	}
}

/* --------------------- /Section testimonials ---------------------- */


/* ---------------------- footer ---------------------- */
footer {
	position: relative;
	.part-top {
		padding: 150px 0;
		background: #21a2de;
		background-image: url("../images/index/bg-footer.jpg");
		background-size: auto 100%   ;
 		background-attachment: fixed;
 		position: relative;
 		&:before {
	 		content: "";
	 		display: block;
	 		position: absolute;
	 		top: 0;
	 		bottom: 0;
	 		left: 0;
	 		right: 0;
	 		background-image: radial-gradient(#2E2A5A, #1D2544);
	 		opacity: 0.85;
	 		z-index: 1;
	 	}
		

		.cols {
	        display: flex;
	        justify-content: space-between;
	        color: white;
	        font-size: 17px;
	        text-align: right;
	        padding-bottom: 50px;
			width: 100%;
			margin: auto;
			margin-top: 40px;
			position: relative;
			z-index: 2;
			.col {
				margin: 0 10px;
				color: #fff;
				max-width: 485px;
				.title {
					@include f-m;
					font-size: 22px;
				}

				.content {
					@include f-l;
					font-size: 16px;
					margin-top: 20px;

					a {
						transition: 0.5s;
						&:hover {
							color: #FD367E;
						}
					}
					p,li {
						margin-top: 10px;
					}
				}
			}
		}
	}
	
	.credit-cont {
		padding: 20px 35px;
		color: #fff;
		background: #191D41;
		@include f-l;
		font-size: 14px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			margin: 0 20px;
			white-space: nowrap;
		}
	}

	@media only screen and (max-width : $lw) {
		.part-top {
			padding: 100px 0;
		}
	}

	@media only screen and (max-width : $tw) {
		.part-top {
			padding: 75px 0;
		}
	}

	@media only screen and (max-width : $mw) {
		.part-top {
			padding: 35px 0;
			.cols {
				flex-wrap: wrap;
				
				width: 100%;
				.col {
					width: 50%;
					margin: 0;
					margin-top: 20px;
					padding: 0 20px;
					
					&:last-child {
						display: none;
					}
					.title {
						font-size: 18px;
					}

					.content {
						font-size: 14px;
						margin-top: 15px;
						p,li {
							margin-top: 5px;
						}
					}
				}
			}
		}

		.credit-cont {
			padding: 10px 20px;
			flex-direction: column;
			p {
				margin: 5px 20px;
			}
		}
	}
}
/* --------------------- /footer ---------------------- */


/* ---------------------- .popup-form ---------------------- */
.popup-form {
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: none;
	&.visible {
		display: block;
	}
	.bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}
	.inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 16px;
		width: 100%;
		max-width: 400px;
		border-radius: 20px;
		overflow: hidden;
		background: #fff;
		filter: drop-shadow(0px 6px 10px rgba(0,0,0,0.5));
		font-size: 0;
		.button {
			margin-top: 30px;
			display: block;
		}

		.heading {
			padding: 30px;
			background: #3E4377;
			color: #fff;
			text-align: center;

			.title {
				@include f-b;
				font-size: 22px;
			}
			.subtitle {
				@include f-l;
				font-size: 16px;
				margin-top: 5px;
			}
		}

		.content {
			padding: 25px;
			@include f-r;
			font-size: 16px;
			color: #2D2D2D;

			
		}
		.um {
			margin-bottom: 10px !important;
			.um_request_name, .um-field-label {
				display: none;
			}

			.um-col-1 {

			}
			.um-field-error {
				position: absolute;
				padding: 3px;
			}
			.um-field {
				margin: 10px;
			}
			input, textarea, select {
				@include f-l;
				font-size: 16px;
				color: #2D2D2D;
				@include placeholder-color(#2D2D2D);
				background-color: #fff;
				border-radius: 200px;
				padding: 20px 30px !important;
				height: auto !important;  
				border-radius: 200px !important;
				outline: none;
				border: 1px solid #D9DADB;
			}

			input[type="submit"] {
				@extend .button;
				border: 2px solid #fff !important;
				margin-top: 10px;
			}
		}
	}

	@media only screen and (max-width : $mw) {
		.inner {
			width: 97%;
			.heading {
				padding: 15px;
			}
			.content {
				padding: 15px;
			}
		}
	}
}
/* --------------------- /.popup-form ---------------------- */


/* ---------------------- .popup-info ---------------------- */
.popup-info {
	z-index: 2;
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	.bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}
	.inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 16px;
		width: 100%;
		max-width: 400px;
		border-radius: 20px;
		overflow: hidden;
		background: #fff;
		filter: drop-shadow(0px 6px 10px rgba(0,0,0,0.5));
		font-size: 0;
		.button {
			margin-top: 30px;
			display: block;
		}

		.heading {
			padding: 25px;
			background: #3E4377;
			@include f-r;
			font-size: 16px;
			color: #fff;
			display: flex;
			justify-content: space-between;

			.date {
				direction: ltr;
			}
		}

		.content {
			padding: 25px;
			@include f-r;
			font-size: 16px;
			color: #2D2D2D;

			.info {
				@include f-l;
				font-size: 16px;
				color: #2D2D2D;
				a {
					color: #FD367E;
				}
			}
		}
	}

	@media only screen and (max-width : $mw) {
		.inner {
			width: 95%;
			.heading {
				padding: 15px;
			}
			.content {
				padding: 15px;
			}
		}
	}
}
/* --------------------- /.popup-info ---------------------- */